fireabase_demo/build/
fireabase_demo/.dart_tool/
fireabase_demo/.flutter-plugins
fireabase_demo/.flutter-plugins-dependencies
fireabase_demo/.idea/
fireabase_demo/android/.idea/
fireabase_demo/android/.idea/modules/
fireabase_demo/android/app/release/
fireabase_demo/pubspec.lock
fireabase_demo/.idea/
fireabase_demo/.idea/benanag_flutter_app.iml
fireabase_demo/ios/build/
fireabase_demo/dart_tool/





